git+https://github.com/facebookresearch/detectron2
git+https://github.com/IDEA-Research/detrex
git+https://github.com/openai/CLIP
transformers
cython
opencv-python
scipy
einops
lvis
fairscale
xformers==0.0.22  # for torch 2.0.1. Please check https://github.com/facebookresearch/xformers to find xformers that are compatible with the existing pytorch version in your environment.
apex

